@model LoginVM
@{
    ViewData["Title"] = "Login";
}

<main>
    
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="login-form">
                        <form method="post">
                            <input asp-for="Email" class="form-control mb-4" placeholder="Email*">
                            <span asp-validation-for="Email" class="text-danger mb-4"></span>
                            <input asp-for="Password" class="form-control showPassword mb-4" placeholder="Password*">
                            <span asp-validation-for="Password" class="text-danger mb-4"></span>
                            <div style="display:block">
                                <input style="width:15px" type="checkbox" id="remember" />
                                <span>Show Password</span>
                            </div>
                           
                            <button type="submit" class="btn btn-primary">Login</button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

</main>
@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        //CheckBox Show Password
        $('#remember').click(function () {
            $('.showPassword').attr('type', $(this).is(':checked') ? 'text' : 'password');
        });
    });
    </script>
}

