@model WellComing
@{
    ViewData["Title"] = "Edit";
}
<style>
     .ck-editor__editable {
        background-color:black !important;
        border-radius: 0;
    }
</style>
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit Slider</h4>
            <div class="row">
                <img style="width:300px !important;height:300px !important" src="~/images/@Model.Image" alt="Alternate Text" />
            </div>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Photo" class="mt-3"></label>
                    <input class="form-control " asp-for="Photo" accept="image/*">
                    <span asp-validation-for="Photo" style="display:block" class="text-danger"> </span>
                    <label asp-for="WelcomeTitle" class="mt-3"></label>
                    <input class="form-control" asp-for="WelcomeTitle">
                    <span asp-validation-for="WelcomeTitle" style="display:block" class="text-danger"></span>
                    <label asp-for="Description" class="mt-3"></label>
                    <textarea id="editor" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" style="display:block" class="text-danger"> </span>


                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a asp-action="Index" class="btn btn-dribbble">Go Back</a>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
        
    </script>
}
