@model PriceDetail
@{
    ViewData["Title"] = "Delete";
}

<div>
    <h2>@Model.PriceDetaillName</h2>
    <form class="forms-sample mt-3" method="post">
        <button class="btn btn-danger">Delete ServicePrice Detail</button>
    </form>
    <a asp-action="Index" class="btn btn-primary mt-3 ml-3">Go Back</a>
</div>


