@model ContactVM
@{
    ViewData["Title"] = "Index";
}
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<section class="hero-wrap hero-wrap-2" style="background-image: url('../images/bg_1.jpg');"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Связаться с Hами</h1>
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a asp-controller="Home" asp-action="Index">
                            Главная <i class="ion-ios-arrow-forward"></i>
                        </a>
                    </span> <span>

                        Kонтакт <i class="ion-ios-arrow-forward"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
    <div class="container">
        <div class="row d-flex align-items-stretch no-gutters">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-4 p-md-5 order-md-last bg-light">
                <form method="post">
                    <div class="form-group">
                        <input asp-for="Message.Name" class="form-control" placeholder="Ваше Имя">
                        <span asp-validation-for="Message.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Message.Email" class="form-control" placeholder="Ваш адрес электронной почты">
                        <span asp-validation-for="Message.Email" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <input asp-for="Message.PhoneNumber" class="form-control" placeholder="Номер телефона">
                        <span asp-validation-for="Message.PhoneNumber" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <input asp-for="Message.Subject" class="form-control" placeholder="Тема">
                        <span asp-validation-for="Message.Subject" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <textarea asp-for="Message.Messsage" cols="30" rows="7" class="form-control" placeholder="Сообщение"></textarea>
                        <span asp-validation-for="Message.Messsage" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary py-3 px-5">Отправить Cообщение</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mapouter d-flex">
              <img class="img-fluid" src="~/images/Screenshot (29).png" />
            </div>

        </div>
    </div>
</section>
<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h4">Контакты</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-4 d-flex">
                <div class="bg-light d-flex align-self-stretch box p-4">
                    <p><span>Адрес:</span> @Model.Bio.Address</p>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="bg-light d-flex align-self-stretch box p-4">
                    <p><span>Телефон:</span> <a href="tel:// @Model.Bio.PhoneNumber"> @Model.Bio.PhoneNumber</a></p>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="bg-light d-flex align-self-stretch box p-4">
                    <p>
                        <span>Эл. адрес:@Model.Bio.Email</span> <a href="@Model.Bio.Email">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
   

}

