@using Dentist.Areas.Admin.ViewModels
@model ServiceVM
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Course</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Portfolio.Photo" class="mt-2"></label>
                            <input class="form-control" asp-for="Portfolio.Photo" accept="image/*">
                            <span asp-validation-for="Portfolio.Photo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mt-3">
                        <select class="form-control" id="selectCategory" name="services">
                            @foreach (Treatment service in Model.Treatments)
                            {
                                <option value="@service.TreatmentName">@service.TreatmentName  </option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary ml-2 mb-3">Submit</button>
                    <a asp-action="Index" class="btn btn-dribbble  mb-3">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}

